<footer style="background-color: #f1f1f1; padding: 10px; text-align: center;">
  <p>Privacy/Disclaimer Statement</p>
  <p>Your information will not be sold or misused. We are not responsible for any incorrect information posted by a pet owner.</p>
</footer>
