<header>
  <img src="./photos/stock-vector-domestic-cat-and-dog-simple-minimal-silhouette-human-hands-hugging-animal-logo-icon-infographic-2240425263.jpg" alt="Adopt A Cat/Dog Logo" class="logo">

  <h1>Adopt A Cat/Dog</h1>
  <p id="date"></p>
</header>