<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt A Cat/Dog - Contact Us</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="../go.js" defer></script>
<
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <nav class="side-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-account">create-account</a></li>
                <li><a href="/browse">Browse Available Pets</a></li>
                <li><a href="/find">Find a dog/cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/login">Have a pet to give away</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/create-account">create-account</a></li>
            </ul>
        </nav>
        <main class="content-area">
            <h2>Contact Us</h2>
            <p>Name: Fady Rizkalla</p>
            <p>Student ID: 40281872</p>
            <p>Email: fadigamal57@gmail.com</p>
        </main>
    </div>
    <%-include("partials/footer")%> 
</body>
</html>
